DJANGO_SECRET_KEY=dummy_key
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=15432
GOV_NOTIFY_API_KEY=ask team members
GOVUK_NOTIFY_TEMPLATE_EMAIL_VERIFICATION=ask team members
DJANGO_DEBUG=True
