DJANGO_SECRET_KEY=dummy_key
DATABASE_URL=psql://postgres:password@127.0.0.1:15432/postgres
GOV_NOTIFY_API_KEY=ask team members
GOVUK_NOTIFY_TEMPLATE_EMAIL_VERIFICATION=ask team members
DJANGO_DEBUG=True
SENTRY_DSN=ask team members
SENTRY_ENVIRONMENT=local

# AWS
S3_STORAGE_KEY=Ask a Colleague
S3_STORAGE_SECRET=Ask a Colleague
S3_BUCKET_NAME=Ask a Colleague
AWS_REGION=Ask a Colleague

# ClamAV
CLAM_AV_USERNAME=Ask a Colleague
CLAM_AV_PASSWORD=Ask a Colleague
CLAM_AV_DOMAIN=Ask a Colleague

COMPANIES_HOUSE_API_KEY=ask team members
