DJANGO_SECRET_KEY=dummy_key
DATABASE_URL=psql://postgres:password@127.0.0.1:15432/postgres
GOV_NOTIFY_API_KEY=ask team members
GOVUK_NOTIFY_TEMPLATE_EMAIL_VERIFICATION=ask team members
DJANGO_DEBUG=True
SENTRY_DSN=ask team members
SENTRY_ENVIRONMENT=local
