[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
django-environ = "~=0.11"
psycopg = "~=3.1"
django-crispy-forms = "~=2.1"
crispy-forms-gds = "*"
django-chunk-upload-handlers = "*"
notifications-python-client = "~=9.0"
django-audit-log-middleware = "~=0.0.4"
django-countries = "~=7.5"
django-storages = "~=1.14"
gunicorn = "~=21.2"
dj-database-url = "*"
django-formtools = "*"
gevent = "*"
sentry-sdk = "*"
whitenoise = "*"
django-simple-history = "~=3.4.0"
django-extensions = "~=3.2"
django-log-formatter-ecs = "~=0.0.5"

[dev-packages]
black = "~=24.3"
pre-commit = "~=3.6"
invoke = "*"
pylint = "*"
django-formtools = "*"
djhtml = "*"
pyproject-flake8 = "*"
boto3 = "*"
pytest-django = "*"
localstack = "~=3.2"
awscli = "~=1.32"
awscli-local = "~=0.22"

[requires]
python_version = "3.11"

[scripts]
wipe_database = "chmod +x wipe_database.sh && ./wipe_database.sh"
