[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.16"
django-environ = "~=0.11"
psycopg = "~=3.1"
django-crispy-forms = "~=2.1"
crispy-forms-gds = "*"
django-chunk-upload-handlers = "*"
notifications-python-client = "~=9.0"
django-audit-log-middleware = "~=0.0.4"
django-countries = "~=7.5"
django-storages = "~=1.14"
gunicorn = "~=22.0"
dj-database-url = "*"
django-formtools = "*"
gevent = "*"
sentry-sdk = "*"
whitenoise = "*"
django-simple-history = "~=3.4.0"
django-extensions = "~=3.2"
django-log-formatter-ecs = "~=0.0.5"
dbt-copilot-python = "~=0.2"
pydantic-settings = "*"
django-log-formatter-asim = "*"
boto3 = "~=1.34"
django-staff-sso-client = "~=4.2.2"
ring = "~=0.10"
python-magic = "~=0.4"
redis = "~=5.0"
django-redis = "*"
django-csp = "~=3.8"
django-ratelimit = "~=4.1.0"
psycopg2-binary = "*"
certifi = "*"
cryptography = "~=43.0.3"
django-permissions-policy = "*"
playwright = "~=1.47.0"
ddtrace = "*"
django-requestlogs = "*"

[dev-packages]
black = "~=24.3"
pre-commit = "~=3.6"
invoke = "*"
pylint = "*"
django-formtools = "*"
djhtml = "*"
pyproject-flake8 = "*"
boto3 = "*"
pytest-django = "*"
localstack = "~=3.2"
"awscli-local[ver1]" = "~=0.22"
pytest-playwright = "~=0.5.2"
coverage = "*"
pytest-cov = "*"
django-debug-toolbar = "*"
pyinstrument = "*"
factory-boy = "*"
mypy = "~=1.9"
freezegun = "*"

[requires]
python_version = "3.11"
