{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block header__service %}
    <div class="govuk-header__content">
        <a href="{% block header__service__url %}{% endblock %}" class="govuk-header__link govuk-header__service-name">
            {% block header__service__name %}
                Report a suspected breach of trade sanctions
            {% endblock header__service__name %}
        </a>
    </div>
{% endblock header__service %}

{% block column_content %}
    <form method="post">
        <div>
            <h2 class="govuk-heading-l">
                Check your answers before submitting
            </h2>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Your details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ reporter_email_address }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/email?redirect=summary">Change<span class="govuk-visually-hidden"> email (Your details)</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ reporter_full_name }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/name?redirect=summary">Change<span class="govuk-visually-hidden"> full name (Your details)</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What is the professional relationship with the company or person suspected of breaching
                            trade sanctions?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ company_relationship }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/start?redirect=summary">Change<span class="govuk-visually-hidden"> professional relationship with the organisation (Your details)</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What were the goods
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ what_were_the_goods }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/what_were_the_goods?redirect=summary">Change<span class="govuk-visually-hidden"> what were the goods</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Sanctions breach details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Regimes breached
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for regime in which_sanctions_regime %}
                                {{ regime }}
                                <br>
                            {% endfor %}
                            {% if unknown_regime %}
                                Unknown regime
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/which_sanctions_regime?redirect=summary">Change<span class="govuk-visually-hidden"> regime breached (Sanctions breach details)</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        {% csrf_token %}
        {{ wizard.management_form }}
        {% crispy wizard.form %}
    </form>
{% endblock column_content %}
