{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load get_wizard_step_url %}
{% block column_content %}
    <form method="post">
        <div>
            <h2 class="govuk-heading-l">
                Check your answers before submitting
            </h2>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Your details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ reporter_email_address }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/email?redirect=summary">Change<span class="govuk-visually-hidden"> email (Your details)</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ reporter_full_name }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/name?redirect=summary">Change<span class="govuk-visually-hidden"> full name (Your details)</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What is the professional relationship with the company or person suspected of breaching
                            trade sanctions?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ company_relationship }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/report_a_breach/start?redirect=summary">Change<span class="govuk-visually-hidden"> professional relationship with the organisation (Your details)</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% crispy form %}
            {% endfor %}
        {% else %}
            {% crispy wizard.form %}
        {% endif %}
<!--	<input type="submit" name="continue" value="Submit" class="govuk-button btn-primary" id="save-button">-->
    </form>
{% endblock column_content %}
