{% extends "report_a_suspected_breach/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load countries %}

{% block title %}You've added {{ request.session.end_users.keys|length }} end-user{% if request.session.end_users.keys|length > 1  or request.session.end_users.keys|length == 0 %}s{% endif %}{% endblock title %}

{% block column_content %}
    <h1 class="govuk-heading-l">
        You've added {{ request.session.end_users.keys|length }} end-user{% if request.session.end_users.keys|length > 1 or request.session.end_users.keys|length == 0 %}s{% endif %}
    </h1>
    {% for id, end_user in request.session.end_users.items %}
        <div class="action-wrapper">
            <div>
                <h3 class="govuk-heading-m" style="float:left;">End-user {{ forloop.counter }} </h3>
                <ul class="govuk-summary-card__actions">
                    {% if is_made_available_journey %}
                        <dd class="govuk-summary-list__action govuk-!-font-weight-regular">

                            <a class="govuk-link" style="font-size: 19px; text-align:right"
                               href="{% url 'report_a_suspected_breach:where_were_the_goods_made_available_to_end_user_uuid' end_user_uuid=id %}">Change<span
                                class="govuk-visually-hidden"> End-user {{forloop.counter}} details </span></a>
                        </dd>
                    {% else %}
                        <dd class="govuk-summary-list__action govuk-!-font-weight-regular">

                            <a class="govuk-link" style="font-size: 19px; text-align:right"
                               href="{% url 'report_a_suspected_breach:where_were_the_goods_supplied_to_end_user_uuid' end_user_uuid=id %}">Change<span
                                class="govuk-visually-hidden"> End-user {{forloop.counter}} details </span></a>
                        </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__action">
                        <form id="delete_end_user_form_{{ forloop.counter }}" method="post" enctype='multipart/form-data' novalidate
                              action="{% url 'report_a_suspected_breach:delete_end_user' %}?end_user_uuid={{ id }}">
                            <input type="hidden" name="end_user_uuid" value="{{ id }}">
                            {% csrf_token %}
                            <button type="submit" class="govuk-link button-that-looks-like-link" form="delete_end_user_form_{{ forloop.counter }}">
                                Remove<span
                                    class="govuk-visually-hidden"> End-user {{forloop.counter}}</span>
                            </button>
                        </form>
                    </dd>
                </ul>
            </div>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if end_user.cleaned_data.name_of_person %}
                        {{ end_user.cleaned_data.name_of_person }}
                    {% elif end_user.cleaned_data.name_of_business %}
                        {{ end_user.cleaned_data.name_of_business }}
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ end_user.cleaned_data.readable_address }}
                </dd>
            </div>
        </dl>
    {% endfor %}
    {% error_summary form %}
    <form method="post" enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock column_content %}
