{% extends "core/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block row_content %}
    <div class="govuk-grid-column-three-quarters">
        {% block column_content %}
            <fieldset class="govuk-fieldset" aria-describedby="radios">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-l">We cannot check the registered company number with Companies House at present, you will need to enter the address manually</h1>
                </legend>
                {% error_summary form %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </fieldset>
        {% endblock column_content %}
    </div>
{% endblock row_content %}
