{% extends "report_a_suspected_breach/generic_nonwizard_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block column_content %}
    {% error_summary form %}
    <fieldset class="govuk-fieldset" aria-describedby="checkbox">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">Which sanctions regimes do you suspect the company or
                person has breached?</h1>
        </legend>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="govuk-fieldset__legend" id="checkbox"> Select all that apply </div>
            {% crispy form %}
        </form>
    </fieldset>
{% endblock column_content %}
