{% extends "base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load get_wizard_step_url %}
{% load get_end_user_url %}
{% block form_content %}
    <div>
        <h2 class="govuk-heading-l">
            Check your answers before submitting
        </h2>
    </div>
    <h2 class="govuk-heading-m">Your details</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Full name
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_third_party_relationship %}
                    {{ form_data.name_and_business_you_work_for.reporter_full_name }}
                {% else %}
                    {{ form_data.name.reporter_full_name }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_third_party_relationship %}
                    <a class="govuk-link" href="{% get_wizard_step_url 'name_and_business_you_work_for' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% else %}
                    <a class="govuk-link" href="{% get_wizard_step_url 'name' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% endif %}
            </dd>
        </div>
        {% if is_third_party_relationship %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business you work for
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ form_data.name_and_business_you_work_for.reporter_name_of_business_you_work_for }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% get_wizard_step_url 'name_and_business_you_work_for' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                </dd>
            </div>
        {% endif %}
    </dl>
    <h2 class="govuk-heading-m">Company or person suspected of breaching sanctions</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Registered company number
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_company_obtained_from_companies_house %}
                    {{ form_data.do_you_know_the_registered_company_number.registered_company_number }}
                {% else %}
                    N/A
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'do_you_know_the_registered_company_number' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"></span></a>
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'business_or_person_details' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> </span></a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_company_obtained_from_companies_house %}
                    {{ form_data.do_you_know_the_registered_company_number.registered_company_name }}
                {% else %}
                    N/A
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'business_or_person_details' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Address
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_company_obtained_from_companies_house %}
                    {{ form_data.do_you_know_the_registered_company_number.registered_office_address }}
                {% else %}
                    N/A
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'business_or_person_details' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% endif %}
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Recipient of goods or services</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
{#                        todo check if this data exists #}
                {{ form_data.where_were_the_goods_supplied_to.name }}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'do_you_know_the_registered_company_number' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"></span></a>
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'where_were_the_goods_supplied_to' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> </span></a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Contact details
            </dt>
            <dd class="govuk-summary-list__value">
{#                        todo check if this data exists #}
                {{ form_data.where_were_the_goods_supplied_to.where_were_the_goods_supplied_to }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'where_were_the_goods_supplied_to' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"> </span></a>

            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Additional contact details
            </dt>
            <dd class="govuk-summary-list__value">
{#                        todo check if this data exists #}
                {{ form_data.where_were_the_goods_supplied_to.additional_details }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'where_were_the_goods_supplied_to' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"> </span></a>

            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Sanctions breach details</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Date of breach
            </dt>
            <dd class="govuk-summary-list__value">
                {{ form_data.when_did_you_first_suspect.when_did_you_first_suspect }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'when_did_you_first_suspect' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Regime breached
            </dt>
            <dd class="govuk-summary-list__value">
                {% for regime in form_data.which_sanctions_regime.which_sanctions_regime %}
                    {{ regime }}
                    <br>
                {% endfor %}
                {% if form_data.which_sanctions_regime.unknown_regime %}
                    Unknown regime<br>
                {% endif %}
                {% if form_data.which_sanctions_regime.other_regime %}
                    Other regime
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'which_sanctions_regime' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Supporting documents (optional)
            </dt>
            <dd class="govuk-summary-list__value">
{#                        todo: can we get the file name from the form data? #}
                {{ form_data.upload_documents.documents }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'upload_documents' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Summary
            </dt>
            <dd class="govuk-summary-list__value">
{#                        todo: can we get the file name from the form data? #}
                {{ form_data.tell_us_about_the_suspected_breach.tell_us_about_the_suspected_breach }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'tell_us_about_the_suspected_breach' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
    </dl>

    {% crispy wizard.form %}
{% endblock form_content %}
