{% extends "base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load get_wizard_step_url %}
{% load get_end_user_url %}
{% block form_content %}
    <div>
        <h1 class="govuk-heading-l">
            Check your answers
        </h1>
    </div>
    <h2 class="govuk-heading-m">Your details</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Full name
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_third_party_relationship %}
                    {{ form_data.name_and_business_you_work_for.reporter_full_name }}
                {% else %}
                    {{ form_data.name.reporter_full_name }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_third_party_relationship %}
                    <a class="govuk-link" href="{% get_wizard_step_url 'name_and_business_you_work_for' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% else %}
                    <a class="govuk-link" href="{% get_wizard_step_url 'name' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% endif %}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Business you work for
            </dt>
            {% if is_third_party_relationship %}
                <dd class="govuk-summary-list__value">
                    {{ form_data.name_and_business_you_work_for.reporter_name_of_business_you_work_for }}
                </dd>
            {% else %}
                <dd class="govuk-summary-list__value">
                    {{ form_data.business_or_person_details.name }}
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{% get_wizard_step_url 'name_and_business_you_work_for' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
            </dd>
        </div>

    </dl>
    <h2 class="govuk-heading-m">Business or person suspected of breaching sanctions</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Registered company number
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_company_obtained_from_companies_house %}
                    {{ form_data.do_you_know_the_registered_company_number.registered_company_number }}
                {% else %}
                    N/A
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'do_you_know_the_registered_company_number' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"></span></a>
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'business_or_person_details' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> </span></a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_company_obtained_from_companies_house %}
                    {{ form_data.do_you_know_the_registered_company_number.registered_company_name }}
                {% else %}
                    {{ form_data.business_or_person_details.name }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'business_or_person_details' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Address
            </dt>
            <dd class="govuk-summary-list__value">
                {% if is_company_obtained_from_companies_house %}
                    {{ form_data.do_you_know_the_registered_company_number.registered_office_address | linebreaksbr }}
                {% else %}
                    {{ form_data.business_or_person_details.readable_address | linebreaksbr }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if is_company_obtained_from_companies_house %}
                {% else %}
                    <a class="govuk-link"
                       href="{% get_wizard_step_url 'business_or_person_details' %}?redirect=summary">Change<span
                        class="govuk-visually-hidden"> {# todo - hidden copy #}</span></a>
                {% endif %}
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">About the suspected breach</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                When did you first<br> suspect the breach?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ form_data.when_did_you_first_suspect.when_did_you_first_suspect }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'when_did_you_first_suspect' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Sanctions regimes breached
            </dt>
            <dd class="govuk-summary-list__value">
                {% for regime in form_data.which_sanctions_regime.which_sanctions_regime %}
                    {{ regime }}
                    <br>
                {% endfor %}
                {% if form_data.which_sanctions_regime.unknown_regime %}
                    Unknown regime<br>
                {% endif %}
                {% if form_data.which_sanctions_regime.other_regime %}
                    Other regime
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'which_sanctions_regime' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                What was supplied or made available?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ form_data.what_were_the_goods.what_were_the_goods }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'what_were_the_goods' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Supplier of the goods of services</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ form_data.about_the_supplier.name }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'where_were_the_goods_supplied_from' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Website
            </dt>
            <dd class="govuk-summary-list__value">
                {% if form_data.about_the_supplier.website %}
                    <a class="govuk-link"
                       href="{{ form_data.about_the_supplier.website }}">{{ form_data.about_the_supplier.website }}<span
                        class="govuk-visually-hidden"> </span></a>
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'where_were_the_goods_supplied_from' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"> </span></a>

            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Address
            </dt>
            <dd class="govuk-summary-list__value">
                {{ form_data.about_the_supplier.readable_address | linebreaksbr }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'where_were_the_goods_supplied_from' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"> </span></a>

            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">End-user of the goods or services</h2>
    {% if form_data.end_users %}
        {% for end_user, value in form_data.end_users.items %}
            <h2 class="govuk-heading-s">End-user {{ forloop.counter }}</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-!-font-weight-regular">
                        Name of person
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ value.cleaned_data.name_of_person }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link"
                           href="{% url 'report_a_breach_where_were_the_goods_supplied_to' end_user_uuid=end_user %}?redirect=summary">Change<span
                            class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-!-font-weight-regular">
                        Website
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if value.cleaned_data.website %}
                            <a class="govuk-link"
                               href="{{value.cleaned_data.website }}">{{ value.cleaned_data.website }}<span
                                class="govuk-visually-hidden"> </span></a>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link"
                           href="{% url 'report_a_breach_where_were_the_goods_supplied_to' end_user_uuid=end_user %}?redirect=summary">Change<span
                            class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-!-font-weight-regular">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ value.cleaned_data.readable_address | linebreaksbr }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link"
                           href="{% url 'report_a_breach_where_were_the_goods_supplied_to' end_user_uuid=end_user %}?redirect=summary">Change<span
                            class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-!-font-weight-regular">
                        Additional information
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ value.cleaned_data.additional_contact_details }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link"
                           href="{% url 'report_a_breach_where_were_the_goods_supplied_to' end_user_uuid=end_user %}?redirect=summary">Change<span
                            class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>
            </dl>
        {% endfor %}
    {% endif %}
    <dl class="govuk-summary-list">
        <a class="govuk-link"
           href="{% get_wizard_step_url 'where_were_the_goods_supplied_to' %}?add_another_end_user=yes&redirect=summary">Add end-user<span
            class="govuk-visually-hidden"></span></a>
    </dl>
 {#    TODO: need to add conditional here for other addresses in the supply chain #}
    <h2 class="govuk-heading-m">Sanctions breach details</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Supporting documents
            </dt>
            {% if form_data.upload_documents.url %}
                <dd class="govuk-summary-list__value">
                    <a href="{{form_data.upload_documents.url}}" download>{{form_data.upload_documents.documents.name}}</a>
                </dd>
            {% else %}
                <dd class="govuk-summary-list__value">
                    <a href="{{ MEDIA_URL }}/{{form_data.upload_documents.documents.name}}" download>{{form_data.upload_documents.documents.name}}</a>
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'upload_documents' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-!-font-weight-regular">
                Summary
            </dt>
            <dd class="govuk-summary-list__value">
                {{ form_data.tell_us_about_the_suspected_breach.tell_us_about_the_suspected_breach }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   href="{% get_wizard_step_url 'tell_us_about_the_suspected_breach' %}?redirect=summary">Change<span
                    class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
    </dl>

    {% crispy wizard.form %}
{% endblock form_content %}
