{% extends "base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block form_content %}
    {% crispy wizard.form %}
{% endblock form_content %}
{% block extra_script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchBox =
                document.getElementById('id_which_sanctions_regime-search_bar');
            searchBox.addEventListener("keyup",
                function() {
                    const value = this.value.toLowerCase();
                    const items = document.querySelectorAll('label[class="govuk-label govuk-checkboxes__label"]');
                    console.log(items)
                    items.forEach(function(item) {
                        const text = item.textContent || item.innerText;
                        item.style.display = text.toLowerCase().includes(value) ? "": "none";
                    });
                });
        });
        <!--<label class="govuk-label govuk-checkboxes__label" for="id_which_sanctions_regime-which_sanctions_regime_1">-->
        <!--          The Afghanistan (Sanctions) (EU Exit) Regulations 2020-->
        <!--        </label>-->
    </script>
{% endblock extra_script %}
