{% extends "base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block form_content %}
    {% crispy wizard.form %}
{% endblock form_content %}
{% block extra_script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchBox =
                document.getElementById('id_which_sanctions_regime-search_bar');
            checkboxContainer = document.getElementById('govuk-checkboxes');
            searchBox.addEventListener("keyup",
                function() {
                    const value = this.value.toLowerCase();
                    const items = document.querySelectorAll('label[class="govuk-label govuk-checkboxes__label"]');
                    items.forEach(function(item) {
                        const text = item.textContent || item.innerText;
                        item.parentNode.style.display = text.toLowerCase().includes(value) ? "block": "none";
                    });
                    if (value.length > 0) {
                        document.getElementsByClassName('govuk-checkboxes__divider')[0].style.display = "none";
                    }
                });
        });
        const toggleFields = document.getElementById('id_which_sanctions_regime-other_regime');
        const fields = document.getElementById('id_which_sanctions_regime-other_regime_details');toggleFields.addEventListener('change', () => {
            if (toggleFields.checked) {
                console.log(fields)
                fields.className = "govuk-input";
                fields.type = '';
            } else {
                fields.style.display = 'none';
                fields.type = 'hidden';
            }
        });
        <!--        <input type="text" name="which_sanctions_regime-search_bar" maxlength="100" aria-describedby="id_which_sanctions_regime-search_bar_hint" class="govuk-input" id="id_which_sanctions_regime-search_bar">-->
        <!--        <div id="div_id_which_sanctions_regime-other_regime" class="govuk-form-group"> <div class="govuk-checkboxes"> <div class="govuk-checkboxes__item"> <input type="checkbox" name="which_sanctions_regime-other_regime" class="govuk-checkboxes__input" id="id_which_sanctions_regime-other_regime"> <label class="govuk-label govuk-checkboxes__label" for="id_which_sanctions_regime-other_regime">-->
        <!--              Other regime-->
        <!--            </label> </div> </div> </div>-->
        <!--        <label class="govuk-label govuk-checkboxes__label" for="id_which_sanctions_regime-other_regime">-->
        <!--              Other regime-->
        <!--            </label>-->
        <!--        <input type="hidden" name="which_sanctions_regime-other_regime_details" id="id_which_sanctions_regime-other_regime_details">-->
    </script>
{% endblock extra_script %}
