{% extends "core/base.html" %}
{% block back_button %}{% endblock back_button %}
{% block column_content %}
    <div>
        <h1 class="govuk-heading-l">
            Suspected breach reports
        </h1>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
    <form method="post" action="{% url 'view_a_suspected_breach:summary_reports' %}">
        {% csrf_token %}
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Sort by
                <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">
                    <option value="newest">Date of report (newest)</option>
                    <option value="oldest">Date of report (oldest)</option>
                </select></label>
        </div>
    </form>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

        {% for breach_report in breach_objects %}
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                            <a href="{%  url 'view_a_suspected_breach:breach_report' pk=breach_report.breach.id %}">View suspected breach report ID:{{ breach_report.breach.reference }}</a>
                            <br><br>Summary of the breach
                        </span>
                    </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
                    <p class="govuk-body">{{ breach_report.breach.tell_us_about_the_suspected_breach }}</p>
                </div>
            </div>



            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Submitted by:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ breach_report.breach.reporter_full_name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Business or person suspected of breaching sanctions:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ breach_report.breacher.name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Submitted on:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ breach_report.breach.created_at }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Files uploaded:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ breach_report.documents }}
                    </dd>
                </div>
            </dl>
        {% endfor %}
    </div>
{% endblock column_content %}
