{% extends "core/base.html" %}
{% block column_content %}
    <div>
        <h1 class="govuk-heading-l">
            Suspected breach reports
        </h1>
    </div>
    {% for breach_report in breach_objects %}
        <h2 class="govuk-heading-m">Summary of the breach</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Submitted by:
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ breach.reporter_full_name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Business or person suspected of breaching sanctions:
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ breach_report.reporter_name_of_business_you_work_for }}
                </dd>
            </div>
            <div class="govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Submitted on:
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ breach_report.created_at }}
                </dd>
            </div>
            <div class="govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Files uploaded:
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ breach_report.documents }}
                </dd>
            </div>
        </dl>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endfor %}
{% endblock column_content %}
