{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "core/stylesheets/moj-frontend.css" %}">
{% endblock extra_css %}

{% block extra_script %}
  <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
  </script>
  <script src="{% static "core/javascript/moj-frontend.min.js" %}"></script>
  <script>
    window.MOJFrontend.initAll()
  </script>

{% endblock %}

{% block back_button %}{% endblock back_button %}

{% block column_content %}
  <div>
    <h1 class="govuk-heading-l">
      Suspected Breach Report
    </h1>
    <form
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      {{ form }}

      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
{% endblock column_content %}
