{% extends "report_a_suspected_breach/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load get_end_user_url %}
{% block form_content %}
    {% include "report_a_suspected_breach/partials/summary_report.html" %}
{% endblock form_content %}


{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.read_more_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').addClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').removeClass('hidden');
            });
            $('body').on('click', '.read_less_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').removeClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').addClass('hidden');
            })


        })
    </script>
{% endblock extra_js %}
