{% extends "core/base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load get_end_user_url %}
{% block cookie_banner %}{% endblock cookie_banner %}
{% block title %}View Suspected Breach Report{% endblock title %}
{% block back_button %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <a class="govuk-back-link govuk-link--no-visited-state"
               href="{% url 'view_a_suspected_breach:summary_reports' %}">{{ back_button_text }}</a>
        </div>
        {% block download_link %}{% endblock download_link %}
    </div>
{% endblock back_button %}
{% comment %}
        TODO: remove comment when DST-797 is complete
{% block download_link %}
    <div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-!-margin-top-3 hide-on-print">
        <a href="{% url 'download_report' %}?reference={{ breach.reference }}" class="govuk-link--muted govuk-body-s" target="_blank">Download and view report (opens in new tab)</a>
    </div>
{% endblock download_link %}

{% endcomment %}
{% block column_content %}
    {% include "report_a_suspected_breach/partials/summary_report.html" %}
{% endblock column_content %}


{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        $(document).ready(function () {
            $('body').on('click', '.read_more_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').addClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').removeClass('hidden');
            });
            $('body').on('click', '.read_less_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').removeClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').addClass('hidden');
            })
        })
    </script>
{% endblock extra_js %}
