{% extends "core/base.html" %}

{% block title %}View individual feedback{% endblock title %}

{% block column_content %}
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Feedback item - {{ feedback.id }}</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Created at</th>
                <td class="govuk-table__cell">{{ feedback.created_at }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Rating</th>
                <td class="govuk-table__cell">{{ feedback.get_rating_display}}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Issues</th>
                <td class="govuk-table__cell">{{ feedback.get_did_you_experience_any_issues_display | linebreaksbr }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Improvements</th>
                <td class="govuk-table__cell">{{ feedback.how_we_could_improve_the_service }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">URL</th>
                <td class="govuk-table__cell">{{ feedback.url }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">User name</th>
                <td class="govuk-table__cell">{{ feedback.user_name }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">User email</th>
                <td class="govuk-table__cell">{{ feedback.user_email }}</td>
            </tr>
        </tbody>
    </table>
{% endblock column_content %}
