{% extends "report_a_suspected_breach/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load get_end_user_url %}
{% block cookie_banner %}{% endblock cookie_banner %}
{% block title %}View Suspected Breach Report{% endblock title %}
{% block back_button %}
	            {# JS-enabled back link #}
    <a class="govuk-back-link govuk-link--no-visited-state show-on-js-enabled hide-on-js-disabled"
       href="javascript: window.history.go(-1)">View all suspected breach reports</a>

	            {# JS-disabled back link #}
    {% if "HTTP_REFERER" in request.META %}
        <a class="govuk-back-link govuk-link--no-visited-state hide-on-js-enabled show-on-js-disabled"
           href="{{ back_button_link|default_if_none:request.META.HTTP_REFERER|default_if_none:"/" }}">View all suspected breach reports</a>
    {% else %}
        <a class="govuk-back-link govuk-link--no-visited-state hide-on-js-enabled show-on-js-disabled"
           href="{{ back_button_link|default_if_none:"/" }}">View all suspected breach reports</a>
    {% endif %}
{% endblock %}
{% block form_content %}
    {% include "report_a_suspected_breach/partials/summary_report.html" %}
{% endblock form_content %}


{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        $(document).ready(function () {
            $('body').on('click', '.read_more_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').addClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').removeClass('hidden');
            });
            $('body').on('click', '.read_less_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').removeClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').addClass('hidden');
            })


        })
    </script>
{% endblock extra_js %}
