{% extends 'core/base.html' %}

{% load get_wizard_step_url %}
{% block title %}
    <title>Tasklist - Report a suspected breach of trade sanctions - GOV.UK</title>
{% endblock title %}
{% block row_content %}
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Task list</h1>
        <ul class="govuk-task-list">
            {% for task in tasklist %}
                {% if task.show_on_tasklist %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link {% if not task.can_start %}tasklist_no_hover{% endif %}">
                        <div class="govuk-task-list__name-and-hint">
                            {% if task.can_start %}
                                <a class="govuk-link govuk-task-list__link" href="{{ task.start_url }}?start=true"
                                   aria-describedby="{{ task.underscored_task_name }}_hint {{ task.underscored_task_name }}_status">
                                    {{ forloop.counter }}. {{ task.name }}
                                </a>
                            {% else %}
                                <a class="govuk-body mb-1"
                                   aria-describedby="{{ task.underscored_task_name }}_hint {{ task.underscored_task_name }}_status">
                                    {{ forloop.counter }}. {{ task.name }}
                                </a>
                            {% endif %}
                            {% if task.hint_text %}
                                <p id="{{ task.underscored_task_name }}_hint" class="govuk-task-list__hint">
                                    {{ task.hint_text }}
                                </p>
                            {% endif %}
                        </div>
                        {% if task.can_start %}
                            <div
                                class="govuk-task-list__status"
                                id="{{ task.underscored_task_name }}_status">
                                <strong class="govuk-tag govuk-tag--blue">
                                    {{ task.status }}
                                </strong>
                            </div>
                        {% else %}
                            <div
                                class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
                                id="{{ task.underscored_task_name }}_status">
                                {{ task.status }}
                            </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if tasklist.complete %}
            <a href="{% get_wizard_step_url step_name=view.steps.current %}?start=true" class="govuk-button"
               data-module="govuk-button">
                Continue
            </a>
        {% endif %}
    </div>
{% endblock row_content %}
