{% extends 'core/base.html' %}

{% load get_wizard_step_url %}
{% block title %}Report a suspected breach of trade sanctions{% endblock title %}
{% block row_content %}
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Report a suspected breach of trade sanctions</h1>
        <ul class="govuk-task-list">
            {% for task in tasklist %}
                <li class="govuk-task-list__item govuk-task-list__item--with-link ">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="{% if task.can_start %}govuk-link govuk-task-list__link{% else %}govuk-body mb-1{% endif %}"
                           {% if task.can_start %}href="{{ task.url }}?start=true"{% endif %}
                           aria-describedby="
                                             {% if task.help_text %}
                                                 {{ task.key }}_hint
                                             {% endif %}
                                             {{ task.key }}_status">
                            {{ forloop.counter }}. {{ task.title }}
                        </a>
                        {% if task.help_text %}
                            <p id="{{ task.key }}_hint" class="govuk-task-list__hint">
                                {{ task.help_text }}
                            </p>
                        {% endif %}
                    </div>
                    <div
                        class="govuk-task-list__status {% if not task.can_start %}govuk-task-list__status govuk-task-list__status--cannot-start-yet{% endif %}"
                        id="{{ task.key }}_status">
                        {% if task.can_start %}
                            <strong class="govuk-tag govuk-tag--blue">
                        {% endif %}
                        {{ task.status_text }}
                        {% if task.can_start %}
                            </strong>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if show_continue_button %}
            <a href="" class="govuk-button"
               data-module="govuk-button">
                Continue
            </a>
        {% endif %}
    </div>
{% endblock row_content %}
