.hidden-element {
    display: none;
}

.tasklist_no_hover:hover {
    background: none;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.button-that-looks-like-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    color: #003078;
    font-size: 19px;
}

.js-disabled .govuk-radios__conditional--hidden {
    display: block;
}

.wide-div {
    width: 90vw;
}

.display-inline {
    display: inline-block;
}
