.tasklist_no_hover:hover {
    background: none;
}

.button-that-looks-like-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    color: #1d70b8;
    font-size: 19px;
}

.js-disabled .govuk-radios__conditional--hidden {
    display: block;
}

.wide-div {
    width: 90vw;
}

.display-inline {
    display: inline-block;
}

@page
{
    size: auto;   /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 25mm 25mm 25mm 25mm;
}

.print-only {
    display: none;
}

@media print {
    .print-only {
        display: inherit;
    }
    .govuk-grid-column-two-thirds {
        width: 100%;
    }
    .govuk-summary-list__key {
        width: 50%;
    }
}

.action-wrapper {
    clear:both;
    border-bottom: 1px solid transparent;
}
