.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.hidden {
    display: none;
}

.js-enabled .show-on-js-enabled {
    display: block;
}

.js-enabled .hide-on-js-enabled {
    display: none;
}

.js-disabled .show-on-js-disabled {
    display: block;
}

.js-disabled .hide-on-js-disabled {
    display: none;
}

.text-centre {
    text-align: center;
}

.flex-parent {
    display: flex;
    justify-content: center;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

@media print {
    .hide-on-print {
        display: none !important;
      }
}

.content-metadata {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.1428571429;
    margin-bottom: 15px;
    color: #0b0c0c;
    margin-top: 15px
}

@media print {
    .content-metadata {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .content-metadata {
        font-size:1rem;
        line-height: 1.25
    }
}

@media print {
    .content-metadata {
        font-size: 14pt;
        line-height: 1.2
    }
}

.content-metadata::after {
    content: "";
    display: block;
    clear: both
}

@media (min-width: 40.0625em) {
    .content-metadata {
        margin-bottom:25px
    }
}

.content-metadata .content-metadata__definition,.content-metadata .content-metadata__term {
    line-height: 1.4
}

.content-metadata .content-metadata__term {
    margin-top: .5em
}

@media (min-width: 40.0625em) {
    .content-metadata .content-metadata__term {
        box-sizing:border-box;
        float: left;
        clear: left;
        padding-right: 5px;
        margin-top: 0
    }
}

.content-metadata .content-metadata__definition {
    margin: 0
}

@media (min-width: 40.0625em) {
    .content-metadata .content-metadata__definition:not(:last-of-type) {
        margin-bottom:5px
    }
}

.content-metadata .content-metadata__suffix {
    margin-top: .628em;
    margin-bottom: 0
}

@media (min-width: 40.0625em) {
    .content-metadata .content-metadata__suffix {
        margin-top:6px
    }
}
