{% extends "core/base.html" %}
{% load crispy_forms_tags crispy_forms_gds static %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block title %}
    {% if form.form_h1_header %}
        {{ form.form_h1_header }}
    {% else %}
        {% for field in form %}
            {% if forloop.first %}
                {{ field.label }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock title %}

{% block body_end %}
	{# session expiry dialog pop-up #}
    <dialog id="session_expiry_dialog">
        <p class="govuk-heading-l">Your report will time out soon</p>
        <p class="govuk-body">You've been inactive for a while.</p>
        <p class="govuk-body">Your report will be deleted unless you continue within the time remaining.</p>
        <p class="govuk-body">We do this for your security.</p>
        <p class="govuk-body" autofocus><strong id="session_expiry_time_remaining">{{ session_expiry_minutes }}
            minutes</strong> remaining</p>
        <button class="govuk-button" id="ping_session_button">Continue</button>
    </dialog>
{% endblock body_end %}

{% block column_start %}
    <div class="govuk-notification-banner hide-on-js-enabled show-on-js-disabled" role="region"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body">
                Your report will be deleted if you're inactive for <strong>{{ session_expiry_minutes }} minutes</strong>.
            </p>
            <p class="govuk-body">
                We do this to protect your information.
            </p>
        </div>
    </div>
{% endblock column_start %}

{% block column_content %}
    {% error_summary form %}
    <form action="{{ request.get_full_path }}" method="post" enctype='multipart/form-data' novalidate>
        {% if form.form_h1_header %}
            <h1 class="govuk-heading-l">{{ form.form_h1_header }}</h1>
        {% endif %}
        {% csrf_token %}
        {% block form_content %}
            {% crispy form %}
        {% endblock form_content %}
    </form>
{% endblock column_content %}

{% block extra_js %}
    {{ form.media.js }}
    <script src="{% static 'core/javascript/session_dialog.js' %}" nonce="{{ request.csp_nonce }}></script>
                                                                          <script nonce="{{ request.csp_nonce }}">
                                                                                                                             window.onload = function () {
                                                                                                                             setup_session_dialog({{ session_expiry_seconds }})
                                                                                                                             }
                                                                                                                             </script>
                                                                                                                         {% endblock extra_js %}
