{% extends "core/base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block title %}
    {% if form.form_h1_header %}
        {{ form.form_h1_header }}
    {% else %}
        {% for field in form %}
            {% if forloop.first %}
                {{ field.label }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock title %}

{% block column_content %}
    {% error_summary form %}
    <form action="{{ request.get_full_path }}" method="post" enctype='multipart/form-data' novalidate>
        {% if form.form_h1_header %}
            <h1 class="govuk-heading-l">{{ form.form_h1_header }}</h1>
        {% endif %}
        {% csrf_token %}
        {% block form_content %}
            {% crispy form %}
        {% endblock form_content %}
    </form>
{% endblock column_content %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock extra_js %}
