{% extends "core/base.html" %}
{% block meta %}<meta name="Help and support – Report a suspected breach of trade sanctions – GOV.UK"> {% endblock meta %}
{% block title %}Get help with your suspected breach report {% endblock title %}
{% block column_content %}

    <h1 class="govuk-heading-l">Get help with your suspected breach report</h1>

    <h2 class="govuk-heading-m">Enquiry form</h2>
    <p class="govuk-body">Contact the Office of Trade Sanctions Implementation (OTSI) using the <a href="https://submit.forms.service.gov.uk/form/3576/contact-otsi/12324" class="govuk-link">enquiry form</a>.
        <br><br>OTSI aims to respond to you within 2 working weeks.</p>

    <h2 class="govuk-heading-m">Email (for technical issues with the online service only)</h2>
    <p class="govuk-body"> If you have a technical issue with the service, email <a href="mailto:OTSI@businessandtrade.gov.uk" class="govuk-link">OTSI@businessandtrade.gov.uk</a> </p>

    <h2 class="govuk-heading-m">Address</h2>
    <p class="govuk-body">
        Office of Trade Sanctions Implementation (OTSI)<br>
        Old Admiralty Building<br>
        Admiralty Place<br>
        London<br>
        SW1A 2DY<br>
        United Kingdom<br></p>

    <h2 class="govuk-heading-m">If you’re unable to use the online service to report a suspected breach</h2>
    <p class="govuk-body">If you’re unable to use this service, you can still report a suspected breach of trade sanctions by contacting OTSI at the postal address. Give as much detail as you can, including names and addresses of the supplier and recipient and what they are doing that you suspect breaches trade sanctions. If you’re happy for OTSI to contact you, give your address or phone number. OTSI may not contact you.</p>

{% endblock column_content %}
